<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Services Adinnu Blessing Chiamaka offers as Administrative Virtual Assistant."
    />
    <link rel="icon" href="/static/Images/LOGO_ME.png" />
    <title>Services - Adinnu Blessing Chiamaka</title>
    <link rel="stylesheet" href="../static/style.css" />
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- Move to up button -->
    <div class="scroll-button">
      <a href="#"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- navigation menu -->
    <nav>
      <div class="navbar">
        <div class="logo"><a><img src="/static/Images/LOGO_ME.png" alt=""></a></div>
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="resume.html">Resume</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <div class="cancel-btn">
          <div class="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
            </div>
        </ul>
        <div class="media-icons">
          <a href="http://twitter.com/ChimaxBlessing/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/blessing.chiamaka.16121" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/in/blessing-chiamaka-2b895b234" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="http://wa.me/2347048561410 "><i class="fab fa-whatsapp" target="_blank"></i></a>
        </div>
      </div>
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </nav>

    <!-- My Services Section Start -->
    <section class="services" id="services">
      <div class="content">
        <div class="title"><span>My Services</span></div>
        <div class="boxes">
          <div class="box">
            <div class="icon">
              <i class="fa fa-calendar"></i>
            </div>
            <div class="topic">Calender and Email Management</div>
            <p class="para">
              Scheduling appointment, managing inbox and ensuring timely responses
      </p>
            <!-- Button to open modal -->
            <button class="btn-view" onclick="openPDFModal(['static/A_Copy_of_Email_Message.pdf', 'static/Calender_Management.pdf'])">View Project</button>

            </div>
          <div class="box">
            <div class="icon">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <div class="topic">Data Entry and Document Management</div>
            <p class="para">
              Organizing, updating, and maintaining record and important files
            </p>
             <button class="btn-view" onclick="openPDFModal('static/A_Copy_of_Data_Entry.pdf')">View Project</button>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-chart-line"></i>
            </div>
            <div class="topic">customer Service and Communication</div>
            <p class="para">
             Handling client inquires, calls, and providing professional support
            </p>
            <button class="btn-view" onclick="openPDFModal('static/A_Copy_of_Team_Meeting_Agenda.pdf')">View Project</button>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fa fa-plane"></i>
            </div>
            <div class="topic">Travel planning and itinerary Management</div>
            <p class="para">
             Organizing and coordinating all aspect of a trip to ensure a smooth and hassle-free experience
            </p>
            <button class="btn-view" onclick="openPDFModal(['static/Copy_Travel_Itinerary.pdf', 'static/TRAVEL_BUDGET.pdf'])">View Project</button>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-desktop"></i>
            </div>
            <div class="topic">Graphics Designing</div>
            <p class="para">
              Create visually appearing content that enhances brand identity and communication. from social media
              graphics to professional flyers, ensure that every design aligns with client's goal.
            </p>
             <button class="btn-view" onclick="openPDFModal('static/Graphics_Design_Work_Sample.pdf')">View Project</button>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fas fa-paint-brush"></i>
            </div>
            <div class="topic">Content Writing</div>
            <p class="para">
              Provides content writing services that deliver clear, engaging, and SEO friendly copy. Bringing ideas to live through blog
              post, website content, and social media captions.
            </p>
            <button class="btn-view" onclick="openPDFModal('static/Article_Links.pdf')">View Project</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
      <div class="content">
        <div class="title"><span>Contact Me</span></div>
        <div class="text">
          <div class="topic">Have Any Project?</div>
          
          <div class="button">
            <button>Let's Chat</button>
          </div>
          <div class="get-in-touch">
            <div class="address">
              
              <a
                class="address-link"
                href="contact.html"
                ><div class="address-img">
                  <img class="footer-img" src="/static/Images/contact-email.svg" alt="contact-address" />
                </div>
              </a>
            </div>
            <div class="address">
             
              <a class="address-link" href="tel: +234-704-856-1410"
                > <div class="address-img">
                  <img class="footer-img" src="/static/Images/contact-phone.svg" alt="contact-address" />
                </div></a
              >
            </div>    
          <div>
            <a class="footer-link" href="http://twitter.com/blessing_chimax"  target="_blank" >
              <div class="address-img"><img
                class="footer-img"
                src="/static/Images/twitter.svg"
                alt="social-icon"
            /></div></a>
          </div>
          <div>
            <a class="footer-link" href="https://www.linkedin.com/in/blessing-chiamaka-2b895b234"
             target="_blank" ><div class="address-img"><img
                class="footer-img"
                src="/static/Images/linkedin.svg"
                alt="social-icon"
            /></div></a>
          </div>
          <div>
            <a class="footer-link" href="https://www.facebook.com/blessing.chiamaka.16121"
            target="_blank"  ><div class="address-img"><img
                class="footer-img"
                src="/static/Images/logo-facebook.svg"
                alt="social-icon"
            /></div></a>
          </div>
          <div>
            <a class="footer-link" href="http://wa.me/2347048561410 " target="_blank"
              ><div class="address-img"><img
                    alt="social-icon"
                    class="footer-img"
                    src="/static/Images/whatsapp.svg"
            /></div></a>
            </div>

    </section>

    <!-- Footer Section Start -->
    <footer>
      <div class="text">
        <span> copyright &copy; BlesynChimax, <span id="year"></span> All rights reserved!</span>
     <p ><a class="dev" href=""> Developer &downarrow; </a></p>
      </div>
    </footer>
    <!--Modal structure for viewing project PDF and image -->
<div id="pdfModal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <iframe id="pdfFrame" src="" frameborder="0"></iframe>
    <div id="pdfControls" class="modal-controls"></div>
  </div>
</div>

<!-- End modal -->
    <script>
      document.getElementById("year").textContent = new Date().getFullYear();
  </script>
    <script src="../static/script.js"></script>
  </body>
</html>
